{#
#
# (c) Copyright 2017-2018 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
Listen {{ monasca_api_bind_host }}:{{ monasca_api_client_port }}

<VirtualHost *:{{ monasca_api_client_port }}>
    WSGIDaemonProcess monasca-api processes=4 threads=5 socket-timeout=600  user={{ monasca_api_user }} group={{ monasca_group }} python-path={{ monasca_api_bin_dir }}/../:{{ monasca_api_bin_dir }}/../lib/python2.7/site-packages display-name=monasca-api
    WSGIProcessGroup monasca-api
    WSGIApplicationGroup monasca-api
    WSGIScriptAlias / {{ www_root }}/monasca/monasca-api

    ErrorLog /var/log/monasca/api/monasca_api_wsgi.log
    LogLevel info
    CustomLog /var/log/monasca/api/monasca_api_wsgi-access.log combined

    <Directory {{ monasca_api_bin_dir }}/../lib/python2.7/site-packages/monasca_api>
      Options Indexes FollowSymLinks MultiViews
      Require all granted
      AllowOverride None
      Order allow,deny
      allow from all
      LimitRequestBody 409600
    </Directory>

    SetEnv no-gzip 1
</VirtualHost>
